@model FilmViewModel
@using System.Globalization

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Director)
    </td>
    <td>
        @Html.DisplayFor(model => model.Release)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Country)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Rating)
    </td>
    <td>
        <button type="button" data-id="@Model.Id" data-url="@Url.Action("DeleteFilm")" class="button alert small  btnDeleteFilm"
                data-title="@Model.Title" data-release="@Model.Release" data-open="deleteModal"> <i class=" fi-page-delete"></i>Delete</button>
    </td>
    <td>
        <button type="button" data-id="@Model.Id" data-url="@Url.Action("UpdateFilm")" class="button primary small btnUpdateFilm ">
            <i class="fi-page-edit"></i>Edit
        </button>
    </td>
</tr>


