@model MovieRental.Web.Models.FilmViewModel
@{
    Layout = null;
}
<div class="accordion acc"  data-accordion data-allow-all-closed="true">
    <div class="accordion-item">
        <a class="accItemTitle accordion-title">Create new movie</a>
        <div class="accItem accordion-content grid-container" data-tab-content>
            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "createFilmForm" }))
            {
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12 medium-4 ">
                        @Html.LabelFor(model => model.Title)
                        @Html.TextBoxFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                    <div class="cell small-12 medium-4">
                        @Html.LabelFor(model => model.Release)
                        @Html.TextBoxFor(model => model.Release, new { id = "dp1", @class = "dp" })
                        @Html.ValidationMessageFor(model => model.Release)
                    </div>
                    <div class="cell cell small-12 medium-4">
                        @Html.LabelFor(model => model.Director)
                        @Html.TextBoxFor(model => model.Director)
                        @Html.ValidationMessageFor(model => model.Director)
                    </div>
                    <div class="cell cell small-12 medium-4">
                        @Html.LabelFor(model => model.Country)
                        @Html.TextBoxFor(model => model.Country)
                        @Html.ValidationMessageFor(model => model.Country)
                    </div>
                    <div class="cell cell small-12 medium-4">
                        @Html.LabelFor(model => model.Category)
                        @Html.EnumDropDownListFor(model => model.Category)
                        @Html.ValidationMessageFor(model => model.Category)
                    </div>
                    <div class="cell cell small-12 medium-4">
                        @Html.LabelFor(model => model.Rating)
                        @Html.EnumDropDownListFor(model => model.Rating)
                        @Html.ValidationMessageFor(model => model.Rating)
                    </div>
                    <div class="cell cell small-12 medium-6">
                        <button type="button" id="btnCreateFilm" class="button small expanded" data-url="@Url.Action("CreateFilm")">Add</button>
                    </div>
                    <div class="cell cell small-12 medium-6">
                        <button type="reset" id="btnCloseCreateForm" class="button small expanded">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


