@model FilmViewModel


<tr id="row_@Model.Id">
    <td>
        @Html.DisplayFor(modelItem => Model.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Director)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Year)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Language)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Version)
    </td>
    <td>
        <button type="button" data-id="@Model.Id" data-url="@Url.Action("DeleteFilm")" class="btnDeleteFilm">Delete</button>
    </td>
    <td>
        <button type="button" data-id="@Model.Id" data-url="@Url.Action("EditFilm")" class="btnGetEditFilm">Edit</button>
    </td>
</tr>