@model FilmsViewModel

<div id="displayContentWrapper">
    <table id="filmTable" class="hover">
        <tr>
            <th>
                <a class="sortOrder" data-url="/Film/Films?sortOrder=Title" data-target="#displayContentWrapper">Title</a>
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                <a class="sortOrder" data-url="/Film/Films?sortOrder=Director" data-target="#displayContentWrapper">Director</a>
            </th>
            <th>
                <a class="sortOrder" data-url="/Film/Films?sortOrder=Release" data-target="#displayContentWrapper">Release</a>
            </th>
            <th>
                @Html.DisplayName("Language")
            </th>
            <th>
                @Html.DisplayName("Version")
            </th>
            <th></th>
        </tr>
        @if (Model.Films != null)
        {
            foreach (var item in Model.Films)
            {
                @Html.Partial("_FilmDetails", item);
            }
        }
    </table>
    <div class="pager" data-target="#displayContentWrapper">
        @Html.Partial("_Pagination", Model.Pagination)
    </div>
</div>