@model MovieRental.Web.Models.FilmViewModel
@{
    Layout = null;
}
<div class="grid-container">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "editFilmForm" }))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4 ">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="cell small-12 medium-4 ">
                @Html.LabelFor(model => model.Release)
                @{
                    var formattedDate = Model.Release.Value.ToString("dd-MMM-yyyy", CultureInfo.InvariantCulture);
                }
                @Html.TextBoxFor(model => model.Release, new { id = "dp2", @class = "dp", @Value = formattedDate })
                @Html.ValidationMessageFor(model => model.Release)
            </div>
            <div class="cell small-12 medium-4 ">
                @Html.LabelFor(model => model.Director)
                @Html.TextBoxFor(model => model.Director)
                @Html.ValidationMessageFor(model => model.Director)
            </div>
            <div class="cell small-12 medium-4 ">
                @Html.LabelFor(model => model.Country)
                @Html.TextBoxFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
            <div class="cell small-12 medium-4 ">
                @Html.LabelFor(model => model.Category)
                @Html.EnumDropDownListFor(model => model.Category, new { id = "category" })
                @Html.ValidationMessageFor(model => model.Category)
            </div>
            <div class="cell small-12 medium-4 ">
                @Html.LabelFor(model => model.Rating)
                @Html.EnumDropDownListFor(model => model.Rating, new { id = "rat" })
                @Html.ValidationMessageFor(model => model.Rating)
            </div>
            <div class="cell cell small-12 medium-6">
                <button type="button" data-url="@Url.Action("UpdateFilm")" id="btnSaveFilm" class="button small expanded">Save</button>
            </div>
            <div class="cell cell small-12 medium-6">
                <button type="button" id="btnCloseUpdateForm" class="button small expanded">Back</button>
            </div>
        </div>
    }
</div>
